.mediaHandler {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 80px;
  background-color: #fff;
  border-radius: 40px;
  transition: all ease 0.5s;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .icons:hover {
    background-color: red;
    transform: translateY(-10px);
  }

  svg {
    padding: 10px;
    width: 50px;
    height: 50px;
  }
}

.icons:hover {
  transform: translateY(-6px);
  overflow: hidden;
  transition: 0.8s;
}
