.mediaHandler {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 80px;
  background-color: #fff;
  border-radius: 40px;
  margin-bottom: 1rem;
  opacity: 0;
  transform: translateY(2em);
  transition-delay: 500ms;
  transition-duration: 1s;

  .icons {
    display: flex;
    justify-content: space-around;

    svg {
      padding: 10px;
      width: 50px;
      height: 50px;
    }
  }
}

.mediaHandlerHidden {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 80px;
  background-color: #fff;
  border-radius: 40px;
  margin-bottom: 1rem;
  transform: translateY(2em);
  transition-delay: 500ms;
  transform: translateY(-2em);
  transition-delay: 500ms;
  transition-duration: 1s;
  opacity: 2;

  .icons {
    display: flex;
    justify-content: space-around;

    svg {
      padding: 10px;
      width: 50px;
      height: 50px;
    }
  }
}

.icons:hover {
  transform: translateY(-6px);
  transition: 0.8s;
}
