.mediaHandler {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 80px;
  background-color: #fff;
  border-radius: 40px;
  transition: all 2s ease;
  // transition-timing-function: ease-in-out;
  transform: translateY(-1em);
  .icons {
    display: flex;
    justify-content: space-around;

    svg {
      padding: 10px;
      width: 50px;
      height: 50px;
    }
  }

  .mediaHandlerHidden {
    visibility: hidden;
    // display: none;

    div {
      svg {
        display: none;
      }
    }
  }
}

.icons:hover {
  transform: translateY(-6px);
  transition: 0.8s;
}
