.heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 400px;
  height: 80px;
  opacity: 1;
  transition-delay: 500ms;
  transition-duration: 1s;

  h2 {
    font-size: 3rem;
    color: #fff;
  }
}

.headingHidden {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 400px;
  height: 80px;
  transition-delay: 500ms;
  transition-duration: 1s;
  opacity: 0;
}
