// @diameter: 4em;
// @radius: @diameter / 2;
// @border-color: #c2c7cc;
// @border-color-hover: #f26a3d;
// @colse-color: #8a9199;

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #8a2be2;
  border-radius: 50%;
  // transform: rotate(-90deg);

  .btn {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 65%;
    height: 65%;
    border-radius: 50%;
    background-color: #8a2be2;
    border: none;
    // border: 1px solid #c2c7cc;
    // color: transparent;

    cursor: pointer;
    transition: all ease 0.3s;

    &:before,
    &:after {
      position: absolute;
      width: 3em;
      height: 5px;
      margin-left: 5px;
      border-radius: 5px;
      // left: 140px;
      // right: 140px;
      // left: 48%;
      // top: 63%;
      // margin-left: 2em / 2;

      content: '';
      background: #fff;
      // transition: all ease 1s;
    }

    &:before {
      -webkit-transform: rotate(45deg);
      transform: rotate(89deg);
    }

    // &:after {
    //   -webkit-transform: rotate(-45deg);
    //   transform: rotate(-0deg);
    // }

    &:hover,
    &:focus {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-80deg);
      border-color: #f26a3d;
      background: fade(#f26a3d, 10%);

      // &:before,
      // &:after {
      //   background: red;
      // }
    }
  }
}

// .btn {
//   background-color: red;
// }
